.brand-image {max-height: 50px}
/*.navbar-inverse .navbar-nav li a {line-height: 60px;}*/


#head {min-height: 200px; padding-top: 35px; background: white; background-image:linear-gradient(black, #4aa500); }

.btn-inline {margin-top: 50px;}
.btn {margin: 10px;}

.form-group.required label:after {
    content:"*";
    color:red;
}

.form-inline select {
    margin-right:10px;
}

#music-background {
    max-height: 500px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#body-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-info{
    background-color: #000066;
}

.vertical-menu{
    position:relative;
    background-color: lightgray;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
}

#profil-content{
    width: 100%;
    height:100%;
}

#profil-content .panel-body{
    padding: 20px;
}
#profil-content .panel-heading{
    text-align: center;
}

.list-group .list-group-item:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list-group .list-group-item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex-page{
    flex:1;
    position:relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.property-text{
    font-weight: bold;
    font-size: 16px;
    text-align: end;
}
.property-value{
    font-size: 16px;
    text-align: left;
    padding-left:10px ;
}

.glyphicon:before { margin-right: 5px; }

.glyphicon {
    font-size:1.4em ;}

.list-square li{
    list-style-type:square;
}

