<?php foreach($titles as $title): ?>
<tr>
    <td><?=$title->artist->label?></td>
    <td><?=$title->label?></td>
    <td></td>
    <td>
        <select class="form-control">
            <option>5*</option>
            <option>4*</option>
            <option>3*</option>
            <option>2*</option>
            <option>1*</option>
        </select>
    </td>
</tr>
<?php endforeach ?>
